[submodule "Deps/lkCommon"]
	path = Deps/lkCommon
	url = git@github.com:LKostyra/lkCommon
[submodule "Deps/googletest"]
	path = Deps/googletest
	url = git@github.com:google/googletest
[submodule "Deps/rapidjson"]
	path = Deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
